@font-face {
  font-family: 'Impact', sans-serif;
  src: url(../fonts/impact.woff2);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header__background {

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  min-height: 100vh;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15.53px;
  font-weight: 400;
  color: #363636;
}

.header__menu-logo {
  margin-top: -25px;
}

.header__menu-left {
  margin-left: 25px;
  display: flex;
  margin-right: -40px;
}

.header__menu-left li {
  margin-right: 40px;

}

.header__menu-right {
  display: flex;
  margin-right: 46px;
}

.header__menu-right li {
  margin-right: 40px;
}

.header__title {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  color: black;
  text-align: center;
  letter-spacing: 0.02em;

}

.main {
  min-height: 82vh;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 76px;
  padding-bottom: 10px;

}

.sub-title {
  font-size: 48px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  align-self: center;
}

.sub-title span {
  font-size: 34px;
  color: #9F6B08;
  padding-bottom: 10px;
  display: block;
  padding-top: 10px;
}

.text {
  padding-top: 10px;
  font-size: 16px;
  color: #363636;
}

.headet-button {
  background-color: transparent;
  margin-top: auto;
  margin-bottom: 30px;
  align-self: center;
}

/* info */

.container-info {
  padding: 0px 153px 0px 152px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.2;
  font-weight: 400;
}

.info-item-Team {
  display: flex;
  justify-content: space-between;
}

.info-text {
  max-width: 438px;
  font-size: 14px;

}

.title-info {
  padding-bottom: 30px;
}

.title-info__main {
  font-weight: 300;
  font-size: 32px;
  text-transform: uppercase;
}

.subtitle-info {
  max-width: 354px;
  padding-bottom: 30px;

}

.Cup-World_img {
  height: 302px;
}

.info-item-Cup-World {
  margin-top: 100px;
  margin-bottom: 100px;
}

.title__Cup-World {
  margin-bottom: 34px;
}

.text__Cup-World {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 30px;
}

.item-Cup-World {
  width: 438px;
}

.bolt {
  font-weight: 700;
}

.info-item-Calender {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 100px;
}

.Calender-title {
  max-width: 438px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.Calender-text {
  max-width: 377px;
  font-size: 14px;
}

.Calender-item-right {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.Calender-ol {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
}

.ul-inner li {
  padding: 10px 10px 10px 0;
}

.ul-inner-end li {
  padding: 10px 0;
}

.info-trek {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trek-text{
  max-width: 434px;
  padding-bottom: 250px;
}

.trek-title {
  padding-top: 47px;
  padding-bottom: 30px;
}

.trek-subtitle{
  font-size: 14px;
}

.trekcr-img {
  max-width: 750px;
  padding-bottom: 90px;
  padding-left: 150px;
}